*
{
    margin: 0;
    padding: 0;
    overflow-y: none;
}
hr {
  width: 15%;
  border-top: .45rem dotted #fff !important;
  margin: auto;
}
body
{
    font-family: sans-serif;
    overflow-y: none;
}
#nav-bar
{
    position : sticky ;
    top: 0 ;
    z-index: 10 ;
    /* font-weight :700; */
}
.navbar
{
    background-image : linear-gradient(to right,#A7F4FF,#05F1FA,#05AEFA,#039CFB);
}
.navbar-nav li
{
    padding : 0 10px ;
}
.navbar-nav li a
{
    color : #000000 !important;
    /* font-weight: 500 ; */
    float : right ;
    text-align : left ;
}
.fa-bars
{
    color : #fff;
    font-size : 30px !important;
}
.navbar-toggler
{
    outline: none !important;
}

#banner
{
    background-image:linear-gradient(to right,#A7F4FF,#05F1FA,#05AEFA,#039CFB);
    color:#000000;
    padding-top:5%;
    height: 471.44px;

}
.sudo-title1
{
    width: 900px;
    font-size: 60px;
    font-weight: 700;
    margin-top: 1 px;
}
.sudo-title2
{
    width: 900px;
    font-size:30px;
    font-weight: 400;
    margin-top: 20px;
}


/* ------------ footer content ------------------------- */

.footer-class {
  background-image: linear-gradient(#05dfd7,#1dd3bd);
  margin-top: 90px;
  padding: 80px 50px 60px 90px;
  color: #fff;
}
/*
.fas {
  font-size: 30px;
    position: relative;
    top: -11px;
    left: -9px;
} */
.info {
  padding-left: 45px;
}
.address {
  font-size: 45px;
}

.phone {
  font-size:30px;
}
.mail {
  font-size: 30px;
  position: relative;
  top: 8px;
}

.fot-title {
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  /* text-shadow: 2px 2px #ffc93c; */
}

.text {
  font-size: 17px;
  font-weight: 500;
}

/* .col-lg-6.contact-icons {
padding-left: 85px;
padding-top: 10px;
} */

.sub-title {
  margin-top: 61px;
  font-size: 21px;
  font-weight: bold;
  /* text-shadow: 2px 2px #ffc93c; */
}

.form-group {
  margin-top: 24px;
  padding-left: 18px;
  padding-right: 0;
}


input {
  height: 33px;
  border-radius: 20px;
  border: 1px solid #FFFFFF;
  outline: none;
}

/* -------------mid-section-------------- */

#mid-section {
  padding: 60px 80px;
  height: 500px;
  /* background-color: #6dd5ed; */
}

.title {
  font-size: 34px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}

.sub-title {
  font-size: 19px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}

.con .row {
  padding: 50px 0 50px;
}

.caste {
  background-color: #32e0c4;
  /* margin-right: 10px; */
  height: 300px;
  padding: 30px;
  color: #f6f6f6;
  border-radius: 29px;
  border: 4px solid #32e0c4;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 10px 10px #e8ded2;
}

.income {
  background-color: #32e0c4;
  /* margin-left: 10px; */
  height: 300px;
  padding: 30px;
  color: #f6f6f6;
  border-radius: 29px;
  border: 4px solid #32e0c4;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 10px 10px #e8ded2;
}

.letter {
  font-size: 28px;
  font-weight: 600;
}

.para {
  font-size: 18px;
  font-weight: 500;
}

.but {
  display: inline-flex;
}

.click {
  background-color: #fddb3a !important;
  margin-left: 20px;
  position: relative;
  top: -4px;
  border-radius: 1.25rem !important;
}

.down {
  border-radius: 1.1rem !important;
}

.but-row-1 {
  margin-left: 155px;

}

.but-row-2 {
  margin-left: 183px;

}

.bt {
    background-color: #fddb3a !important;
    border-color: #fddb3a !important;
    color: black;
    font-weight: 500 !important;
}

.sc {
  width: 70.34px;
}

.st {
  width: 70.34px;
}

/* ----------------feedback form--------------- */
.SEND-BT {
  color: #FFFFFF !important;
  /* background-color: #555555 !important; */
  font-size: 1rem !important;
  font-weight: 400 !important;
  padding: .375rem .75rem !important;
  width: 92.97px !important;
  height: 38px !important;
  /* opacity: 1 !important; */
}

.area {
  border: 2px solid #a6a6a4;
  border-radius: 15px !important;
  width: 100%;
  margin-right: 10px;
}

.modal-fade {
  background-image: linear-gradient(#C9D6FF, #E2E2E2);
}

.modal-header {
  text-align: center;
}
.mod {
  text-align: center;
}
.btn.SEND-BT {
  font-size: 1rem !important;
}
.modal-content {
  color: #fff !important;
  background-color: #00b7c2 !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
  font-family: 'Montserrat', sans-serif;
}

.modal-dialog {
  position: relative;
  left: -53px !important;
  top: 34px !important;
}

.col-1 {
  font-family: 'Montserrat', sans-serif;
  height: 484px !important;
  width: 250px !important;
  padding: 0 !important;
  position: relative;
  top: 1px;
  left: 16px;
  background-color: #FCF9F9 !important;
  border-top-left-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
}

.feedback-title {
  padding: 27px;
  font-size: 25px;
  font-weight: 500;
}

/* -----------------rating---------------------- */
.rate {
  /* float: left; */
  position: relative;
  top: -106px;
  right: 18px;
  height: 46px;
  padding: 0 10px;
}

.rate:not(:checked)>input {
  position: absolute;
  top: -9999px;
}

.rate:not(:checked)>label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
}

.rate:not(:checked)>label:before {
  content: '★ ';
}

.rate>input:checked~label {
  color: #ffc700;
}

.rate:not(:checked)>label:hover,
.rate:not(:checked)>label:hover~label {
  color: #deb217;
}

.rate>input:checked+label:hover,
.rate>input:checked+label:hover~label,
.rate>input:checked~label:hover,
.rate>input:checked~label:hover~label,
.rate>label:hover~input:checked~label {
  color: #c59b08;
}
